/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.resursPaymentInfo {
    margin-bottom: 10px;
}

.resursPaymentInfo td.label {
    font-weight: bold;
    border-top: 1px dotted grey;
    vertical-align: top;
    color: #FFFFFF !important;
}

.resursPaymentInfo td.value {
    border-top: 1px dotted grey;
    vertical-align: top;
    color: #FFFFFF !important;
}

.resurs_orderinfo_container {
    background: #129fdc !important;
    border-top: 1px solid #00bfff;
    color: #ffffff !important;
}

.resurs_orderinfo_text {
    color: #FFFFFF !important;
    font-weight: normal;
}

.resurs_orderinfo_text_label {
    font-weight: bold;
}

.resurs_orderinfo_text_value {
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.resurs_method_row {
    border-bottom: 1px solid #dbdbdb;
    vertical-align: bottom !important;
    padding: 3px;
}
