<div style="padding: 5px;background: #fabbb3; border: 1px solid #8c0000;font-size: 14px; text-align: center">
    <div style="font-weight: bold">
        {$errormessage}<br>
        {$fixit}<br>
    </div>
    <br>
    <span id="metaLangFixClick" onclick="RESURSBANK.CheckoutAdmin.fixTheMetaLangError()"
          style="font-style: italic;cursor: pointer;">
            {$sqlQuery}
    </span>
</div>
